* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.source-sans-3-700 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    }
.lato-thin {
font-family: "Lato", sans-serif;
font-weight: 100;
font-style: normal;
}

.lato-light {
font-family: "Lato", sans-serif;
font-weight: 300;
font-style: normal;
}

.lato-regular {
font-family: "Lato", sans-serif;
font-weight: 400;
font-style: normal;
}

.lato-bold {
font-family: "Lato", sans-serif;
font-weight: 700;
font-style: normal;
}

.lato-black {
font-family: "Lato", sans-serif;
font-weight: 900;
font-style: normal;
}

.lato-thin-italic {
font-family: "Lato", sans-serif;
font-weight: 100;
font-style: italic;
}

.lato-light-italic {
font-family: "Lato", sans-serif;
font-weight: 300;
font-style: italic;
}

.lato-regular-italic {
font-family: "Lato", sans-serif;
font-weight: 400;
font-style: italic;
}

.lato-bold-italic {
font-family: "Lato", sans-serif;
font-weight: 700;
font-style: italic;
}

.lato-black-italic {
font-family: "Lato", sans-serif;
font-weight: 900;
font-style: italic;
}
body {
    font-family: Arial, sans-serif;
    background: #ddd;
    display: flex;
    min-height: 100vh;
}
.backimage {
    position: absolute;
    width: 100%;
    height: 210px;
    background: #a6baa7;
    z-index: -1;
    background-image: url(../img/back_001.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
}
.user-menu {
    position: relative;
    display: inline-block;
}
.user-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dropdown-icon {
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}
.popup-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    padding: 10px;
}
.popup-menu.show {
    display: block;
}
.user-info {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.user-name {
    font-weight: bold;
    margin-bottom: 5px;
}
.user-role {
    color: #666;
    font-size: 0.9em;
}
.menu-options {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}
.menu-options li {
    padding: 10px;
    cursor: pointer;
}
.menu-options li:hover {
    background-color: #f5f5f5;
}
.menu-icon {
    margin-right: 10px;
    color: #999;
}

.sidebar {
    font-family: "Lato", sans-serif;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 20px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 13px;
    position: relative;
    border-bottom: 10px solid #4a9799;
    padding-top: 100px;
}
.recepcion-number {
    font-size: 20px!important;
}
.sidebar.collapsed {
    width: 80px;
}
.sidebar .fa-bars {
    display: none;
}
.sidebar .fa-arrow-left {
    display: block;
}
.collapsed .fa-bars {
    display: block;
}
.collapsed .fa-arrow-left {
    display: none;
}

.collapsed .menu-item span {
    display: none;
}
.menu-title i {
    display: none;
}
.collapsed .menu-title i{
    display: block;
}
.collapsed .menu-title span{
    display: none;
}
.collapsed .menu-item {
    display: none;
}
.sidebar-toggle {
    background-color: #e0e0e0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-section {
    margin-bottom: 10px;
}
.menu-title {
    background-color: #e6f2ff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.menu-item {
    padding: 10px;
    cursor: pointer;
}
.menu-item.active {
    font-weight: bold;
}
.main-content {
    flex-grow: 1;
    margin: 20px;
    font-family: "Lato", sans-serif;
}
.main-content-form {
    flex-grow: 1;
    padding: 50px;
    background-color: #fff;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 10px solid #4a9799;
}
.main-content-header {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    color: #fff;
}
.title {
    font-size: 34px;
    font-weight: bold;
}
.date {
    text-align: right;
}
.form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    margin-bottom: 5px;
    font-size: 13px;
}
.form-group select,
.form-group input {
    padding: 6px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    max-width: 300px;
}
.tabs {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #1a557e;
    justify-content: center;
    font-size: 16px;
    margin-top: 50px;
    padding-bottom: 6px;
}
form h3 {
    margin-bottom: 10px;
}
.tab {
    padding: 10px 40px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    border: 1px solid #19557e;
    margin-right: 20px;
    border-radius: 7px;
}
.tab img{
    height: 22px;
}
.tab.active {
    background: #1a557e;
    color: #fff;
    border-radius: 7px;
}
.container-table {
    border: 1px solid #E2E2E2;
    padding: 10px;
    border-radius: 7px;
    overflow-x: scroll;
}
table {
    width: 100%;
    border-collapse: collapse;
    
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.content-message{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.acc {
    min-width: 100px;
}
.acc button {
    width: 20px;
}
.success-message {
    color: #006600;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #006600;
    width: fit-content;
}
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-primary {
    background-color: #286db8;
    color: white;
}
.button-secondary {
    background-color: #f4f4f4;
    color: #333;
}
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .sidebar {
        position: absolute;
        top: 0px;
        left: -10px;
        padding: 70px 30px;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0px 4px 24.6px 1034px rgba(0, 0, 0, 0.25);
    }
    .sidebar.collapsed {
        position: absolute;
        top: -15px;
        padding: 0px;
        transition: transform 0.3s ease-in-out;
        box-shadow: none;
    }
    .sidebar.collapsed .menu-section{
        display: none;
    }
    .form-container {
        display: contents;
        grid-template-columns: 1fr;
    }
    .form-group select, .form-group input{
        max-width: 100%;
    }
}